<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chỉnh sửa danh mục</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/SubCategory.Check.js"></script>  
  </head>
<body>
<legend><h2>Chỉnh Sửa Chuyên Đề</h2></legend>
<center>
<form action="/Admin/SubCategory/Update" method="POST" name="frmChuyenDe" onsubmit="return CheckValueSubCategory();">
    <div class="form-group">
        <input  type="hidden" class="form-control" id="txtCatID" name="SubCatID" value="{{this.subcategories.SubCatID}}" style="width:300px;"/>
    </div>

    <div class="form-group">
       <label class="loginFormElement" style="margin-right: 180px;">TÊN CHUYÊN ĐỀ</label>
       <input class="form-control" placeholder="Nhập tên danh mục" type="text" style="width:300px;" name="SubCatName" value="{{this.subcategories.SubCatName}}">
      <div id="SubCatName"></div>
      </div>

     <div class="form-group">
       <label class="loginFormElement" style="margin-right: 210px;">TÌNH TRẠNG</label>
         <select class="form-control" style="width: 300px;" name="SubCatIsActive">
         <option>Chọn Tình Trạng</option>
          <option {{#ifeq this.subcategories.SubCatIsActive 0 }} selected {{/ifeq}} value="0">0</option>
          <option {{#ifeq this.subcategories.SubCatIsActive 1 }} selected {{/ifeq}} value="1">1</option>
        </select>
        <div id="SubCatIsActive"></div>
    </div>
    <input type="hidden" name="CatID" value="{{this.subcategories.CatID}}">
    <div class="form-group">
     <button type="submit"  class="btn btn-primary" style="width:150px;margin-left:-150px;">SỬA</button>
     </div>
</form>
</center>
</body>
</html>

