<html>
<title>
</title>
<head>
	<meta charset="utf-8">
<frameset cols="12%,*" border="0px">
<frame src="/screen/DanhMucAdmin.html"/>
<frameset rows="8%,*" border="0px">
<frame src="/screen/TrangTieuDe.html"/>
<frame src="" name="noidung"/>
</frameset>
</frameset>
</head>
</html>