<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thêm danh mục</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/js/Category.Check.js"></script>
<body>
  <h2>Thêm danh mục</h2>
  <form action="" method="POST" id="frmDanhMuc" style="width:400px;margin:0 auto; " >
    <div>
       <label>TÊN DANH MỤC</label>
       <input class="form-control" placeholder="Nhập tên danh mục" type="text" name="CatName" id="txtCatName">
   </div>

    <div style="margin-top:20px;">
       <label>TRẠNG THÁI HOẠT ĐỘNG</label>
       <select class="form-control" name="CatIsActive">
         <option>Chọn Tình Trạng</option>
          <option value="0">Không hoạt động</option>
          <option value="1">Hoạt động</option>
       </select> 
    </div>

   <div style="margin-top:20px;">
     <button type="submit" class="btn" style="width:100%;background:#3380CB;">THÊM</button>
     </div>
</form>
</body>



