<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chỉnh sửa danh mục</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/js/Category.Check.js"></script>
</head>
<body>
  <h2>Chỉnh sửa danh mục</h2>
  <form action="/admin/category/update" method="POST" id="frmDanhMuc" style="width:400px;margin:0 auto;">
    <div class="form-group">
        <input  type="hidden" class="form-control" id="txtCatID" name="CatID" value="{{this.category.CatID}}" style="width:300px;"/>
    </div>
 
    <div>
       <label >TÊN DANH MỤC</label>
       <input class="form-control" placeholder="Nhập tên danh mục" type="text"  name="CatName" id="txtCatName" value="{{this.category.CatName}}">
    </div>

     <div style="margin-top:20px;" >
       <label>TÌNH TRẠNG</label>
       <select class="form-control" name="CatIsActive">
          <option {{#ifeq this.category.CatIsActive 0 }} selected {{/ifeq}} value="0">Không hoạt động</option>
          <option {{#ifeq this.category.CatIsActive 1 }} selected {{/ifeq}} value="1">Hoạt động</option>
        </select>
    </div>

    <div style="margin-top:20px;">
     <button type="submit"  class="btn" style="width:100%;background:#3380CB;">CẬP NHẬT</button>
     </div>
  </form>
  </center>
</body>
</html>

