<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tài khoản</title>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <h3>Cập nhật tài khoản</h3>
    <form action="/admin/account/update" method="POST" style="width:300px;margin:0 auto;">
        <input type="hidden" name="UserID" value="{{UserID}}"></input>
        <input type="hidden" name="UserName" value="{{UserName}}"></input>
        <input type="hidden" value="{{this.account.AccID}}" name="AccID"></input>
        <div>
            <label>TRẠNG THÁI TÀI KHOẢN</label>
            <select class="form-control" name="AccIsActive" >
                <option {{#ifeq this.account.AccIsActive 0}} selected {{/ifeq}} value="0">Không hoạt động</option>
                <option {{#ifeq this.account.AccIsActive 1}} selected {{/ifeq}} value="1">Hoạt động</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="width:100%;margin-top:20px;">CẬP NHẬT</button>
        </div>
    </form>
</body>
</html>