{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(() => {
        $('#login-form').validate({
            rules: {
                Username: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true
                }
            },
            messages: {
                Username: {
                    required: 'Vui lòng nhập địa chỉ email.',
                    email: 'Địa chỉ email không hợp lệ.'
                },
                Password: {
                    required: 'Vui lòng nhập mật khẩu.'
                }
            },
            errorElement: 'p',
            errorClass: 'input-errors'
        });

        $('.input-form').focus(() => {
            $('.sub-error').hide();
        });
    });
</script>
{{/section}}

<div id="register-user" class="mx-auto mt-4">
    <span class="register-title mr-3">Đăng nhập</span>
    <span class="register-subtitle font-italic">
        Bạn chưa có tài khoản? <a href="/account/register">Đăng ký</a> ngay!
    </span>

    <form id="login-form" class="default-form"  method="POST">
        {{#if loginError}}<p class="sub-error">{{loginError}}</p>{{/if}}
        <label class="label-form">Địa chỉ email:</label>
        <input class="input-form" name="Username" id="txtUsername" type="text" placeholder="Địa chỉ email">
        <label class="label-form">Mật khẩu:</label>
        <input class="input-form" name="Password" type="password" placeholder="Mật khẩu">
        <button class="button-form">Đăng nhập</button>
    </form>

    <hr class="hr-text" data-content="Hoặc đăng nhập với">

    <form>
        {{!-- bỏ formaction="/login/google" --}}
        <button class="subregister-button google-register">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            Google
        </button>
    </form>
    
    <button class="subregister-button facebook-register">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
    </button>
</div>