<div id="user-verify">
    <form method="POST">
        <label class="label-form">Nhập mã xác nhận:</label>
        <input class="input-form" type="text" name="VerifyID" placeholder="Mã xác nhận">
        {{#if user}}
        <a href="/account/resent-verification">Gửi lại mã xác nhận</a>
        {{/if}}
        <button class="button-form">Xác nhận</button>
    </form>
</div>