<div id="register-user" class="mx-auto mt-4">
    <span class="register-title mr-3">Đăng nhập</span>
    <span class="register-subtitle font-italic">
        Bạn chưa có tài khoản? <a href="/login">Đăng ký</a> ngay!
    </span>

    <form id="register-form" name="registerForm" method="POST">
        {{#each subErrors}}
        <p class="input-errors">{{err}}</p>
        {{/each}}
        {{#if errors}}
            {{#each errors}}
            <p class="input-errors">{{msg}}</p>
            {{/each}}
        {{/if}}
        <label>Địa chỉ email:</label>
        <input class="input-form" name="Username" type="text" placeholder="Địa chỉ email">
        <label>Mật khẩu:</label>
        <input class="input-form" name="Password" type="password" placeholder="Mật khẩu">
        <button class="button-form">Đăng nhập</button>
    </form>

    <hr class="hr-text" data-content="Hoặc đăng nhập với">

    <form>
        {{!-- bỏ formaction="/login/google" --}}
        <button class="subregister-button google-register">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
            Google
        </button>
    </form>
    
    <button class="subregister-button facebook-register">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
    </button>
</div>