/* REGISTER */
#register-user {
    width: 40%;
}

.register-title {
    font-size: 25px;
}

.register-subtitle {
    font-size: 13px;
}

#register-form {
    border: 2px solid #cc0000;
    border-radius: 5px;
    padding: 15px 10px;
}

.input-form {
    width: 100%;
    border: none;
    border-bottom: 1px solid #cc0000;
    margin-bottom: 15px;
    font-size: 14px;
}

.dob-form {
    width: calc(100% - 67px);
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #cc0000;
    margin-bottom: 15px;
}

.input-form::placeholder {
    text-align: center;
    color: #999999;
    font-size: 14px;
}

.input-form:focus, .dob-form:focus, .button-form:focus, .google-register:focus, .facebook-register:focus {
    outline: none;
}

.label-form {
    color: #999999;
    font-size: 14px;
}

.button-form {
    width: 100%;
    height: 40px;
    border: 1px solid #cc0000;
    border-radius: 2px;
    background-color: #cc0000;
    color: #fff;
    font-size: 13px;
    padding: 5px 15px;
}

.button-form:hover {
    box-shadow: 1px 1px 4px #ff1a1a;
}

.hr-text {
    line-height: 1em;
    position: relative;
    /* outline: 0; */
    border: none;
    color: black;
    text-align: center;
    height: 1.5em;
}
.hr-text:before {
    content: '';
    /* background: linear-gradient(to right, transparent, #818078, transparent); */
    background: #818078;
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    /* display: inline-block; */
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    font-size: 12px;
    background-color: #fff;
}

.subregister-button {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    color: #fff;
}

.google-register {
    background-color: #d1412e;
    border: 1px solid #d1412e;
    margin-bottom: 10px;
}

.google-register:hover {
    background-color: #bc3a29;
    border: 1px solid #bc3a29;
}

.facebook-register {
    background-color: #395693;
    border: 1px solid #395693;
}

.facebook-register:hover {
    background-color: #324b81;
    border: 1px solid #324b81;
}

.input-errors {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 12px;
    margin-bottom: 2px;
    padding: 3px 5px;
    border-radius: 3px;
}

.register-alert {
    background-color: #cc0000;
    margin: 20px 0;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.register-alert a {
    color: #4d94ff;
}
