/* INFORMATION */
.section-user {
    margin: 30px auto;
    padding: 10px 40px;
    background-color: #faf4f4;
    box-shadow: 1px 1px 4px #cc0000;
}

.section-user-info {
    width: 70%;
}

.main-title {
    font-size: 28px;
    border-bottom: 1px solid #cc0000;
    padding-bottom: 5px;
    padding-left: 0;
}

.section-user-info .user-avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.margin-0 {
    margin: 0;
}

.section-user-info .user-role {
    background-color: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 3px;
}

.section-user-info .premium-user {
    background-color: #cc0000;
}

.section-user-info .label-content {
    font-size: 14px;
    font-style: italic;
}

.padding-0 {
    padding: 0;
}

.section-user-info .user-button {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.focus-no-outline:focus {
    outline: none;
}

.section-user-info .change-avatar-button {
    background-color: #1a1a1a;
    border: #1a1a1a;
}

.section-user-info .change-avatar-button:hover {
    background-color: #000;
    border: #000;
}

.section-user-info .edit-info-button {
    background-color: #cc0000;
    border: #cc0000;
}

.section-user-info .edit-info-button:hover {
    background-color: #b30000;
    border: #b30000;
}

.section-user-info .change-pw-button {
    background-color: #ffad33;
    border: #ffad33;
}

.section-user-info .change-pw-button:hover {
    background-color: #ff9900;
    border: #ff9900;
}

.section-user-info .buy-premium-button {
    background-color: #666666;
    border: #666666;
}

.section-user-info .private-page-button {
    background-color: #3877d8;
    border: #3877d8;
}

.section-user-info .buy-premium-button:hover {
    background-color: #404040;
    border: #404040;
}

.section-user-info .private-page-button:hover {
    background-color: #164c9e;
    border: #164c9e;
}
/*CHANGE AVATAR*/
.section-user-change-avatar {
    width: 40%;
}

.section-user-change-avatar .user-avatar {
    width: 300px;
    height: 300px;
    margin: 0 auto !important;
    margin-bottom: 5px !important;
    border-radius: 50%;
    display: block;
}

#img-file {
    visibility: hidden;
}

#upload-img-button {
    font-size: 13px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #bfbfbf;
    border: #bfbfbf;
    width: 100px;
    display: block;
}

#upload-img-button:hover {
    background-color: #888888;
    border: #888888;
}

/* EDIT INFORMATION */
.section-user-edit-info {
    width: 40%;
}

.user-edit-info {
    padding: 0;
}

/* CHANGE PASSWORD */
.section-user-change-password {
    width: 40%;
}

.success-alert {
    background: #ffad33;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

/* BUY PREMIUM */
.section-user-buy-premium {
    width: 40%;
}

.premium-button {
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    background-color: #cc0000;
    border: #cc0000;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
}   

