<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm chuyên đề</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/js/SubCategory.Check.js"></script>  
  </head>
<body>
  <h2>Thêm chuyên đề</h2>
  <form  action="/admin/subCategory/add/{{CatID}}" method="POST" id="frmChuyenDe" style="width:400px;margin:0 auto;">
    <div>
       <label>TÊN CHUYÊN ĐỀ</label>
       <input class="form-control" placeholder="Nhập tên chuyên đề" type="text" name="SubCatName" id="txtSubCatName">
     </div>

    <div style="margin-top:20px;" >
      <label >TRẠNG THÁI</label>
      <select class="form-control"  name="SubCatIsActive">
          <option>Chọn Tình Trạng</option>
          <option value="0">0</option>
          <option value="1">1</option>
      </select>
    </div>
    <input type="hidden" name="CatID" value="{{CatID}}">
   <div style="margin-top:20px;">
     <button type="submit" class="btn btn-primary" style="width:100%;">THÊM</button>
   </div>
 </form>
</body>