.section-user-info {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-user-info .main-title {
    font-size: 28px;
    border-bottom: 1px solid #cc0000;
    padding-bottom: 5px;
    padding-left: 0;
}

.section-user-info {
    border: 2px solid #cc0000;
    border-radius: 5px;
    padding: 10px 40px;
}

.user-info {
    padding: 0;
}

.user-info .row p {
    margin: 0;
}

.user-info .normal-user {
    background-color: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 20px;
}

.user-info .label {
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}

.user-info .label-content {
    font-size: 14px;
    font-style: italic;
}

.section-user-info .user-button {
    height: 40px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.edit-info-button:focus, .change-pw-button:focus, .buy-premium-button:focus {
    outline: none;
}

.section-user-info .edit-info-button {
    background-color: #cc0000;
    border: #cc0000;
}

.section-user-info .edit-info-button:hover {
    background-color: #b30000;
    border: #b30000;
}

.section-user-info .change-pw-button {
    background-color: #ffad33;
    border: #ffad33;
}

.section-user-info .change-pw-button:hover {
    background-color: #ff9900;
    border: #ff9900;
}

.section-user-info .buy-premium-button {
    background-color: #666666;
    border: #666666;
}

.section-user-info .buy-premium-button:hover {
    background-color: #404040;
    border: #404040;
}


